#mithril {
  /* position: absolute;
  top: 131px;
  left: 100px; */
}

.slider {
  position: absolute;
  top: 0px;
  cursor: move;
  width: 10px;
  height: 100vw;
  background: #000000;
}

#qunit {
  position: absolute;
  top: 0px;
  overflow-y: auto;
  height: 100%;
}

#openFile,
#inputFile {
  /* display: none; */
  visibility: hidden;
}